MazeGeneration - Prim/.idea/
MazeGeneration - Prim/out/
MazeGeneration - Prim/MazeGeneration - Prim.iml
/.metadata/
PublicTrelloFinder/.classpath
PublicTrelloFinder/.project
PublicTrelloFinder/.settings/org.eclipse.jdt.core.prefs
*/bin/*
PublicTrelloFinder/.idea/
YouTube-Video-Generator/.idea/
YouTube-Video-Generator/venv/
PublicTrelloFinder/classes/
